[submodule "src/kotech"]
	path = src/kotech
	url = https://github.com/fm-projects/kotech
[submodule "src/NTO"]
	path = src/NTO
	url = https://github.com/remgus/NTO
[submodule "olymp-results-parser"]
	path = olymp-results-parser
	url = https://github.com/remgus/olymp-results-parser
